:root{
    --primary:#14bfcc;
}

/* default icon stuff*/
.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}
  
.icon-thumbs-o-up {
    width: 0.857421875em;
}
/* end default icon stuff*/

/* header */
/* section1 */

.header .section1{
    border-top: 4px solid var(--primary) ;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.top-nav,.login-div{
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.top-nav{
    margin: 0 auto;
    background-color: lightgrey;
}

.top-nav-item{
    display: flex;
    margin: 0 auto;
    margin-bottom: 10px;
}

.top-nav-item .icon{
    margin: 0;
    margin-top: 5px;
    font-size: 18px;
}

.top-nav-link{
    padding: 0;
    margin: 0;
    color: grey;
    margin-left: 5px;
}

.login-div{
    margin: 0;
}

.login-text{
    margin-top: 10px;
}

@media(max-width:992px){
    .welcome-login{
        display: none;
    }
}

@media(min-width:576px){
    .header .section1{
    background-color: lightgrey;
    }
}

@media(min-width:768px){
    .login-div{
    background-color: lightgrey;
    }
}

/* end section1 */
/* section2 */

.logo{
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-family: 'Roboto Slab', serif;
    font-size: calc(35px + (50 - 35) * ((100vw - 300px) / (1600 - 300)));
}

.fancy{
    margin: 0;
    margin-right: -3px;
    padding: 2px;
    border-radius: 50%;
    background-color: var(--primary);
}

.dot-image{
    margin: 0;
    padding: 0;
    margin-left: -8px;
    margin-bottom: -10px;
    width: 8px;
    height: 8px;
}

.shop-cart .icon{
    font-size: 15px;
    margin-right: 4px;
}

.shop-cart{
    background-color: var(--primary);
    color: white;
}

/* end section2 */
/* section3 */

.catagory-nav{
    margin-top: 10px;
    margin-bottom: 10px;
}

.catagory-item{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: black;
}

.search-div{
    margin-bottom: 20px;
}

.home-search{
    margin: 0;
    padding: 0;
}

.search-button{
    height: 28px;
    width:28px;
    padding: 0;
    background-color: lightgrey;
    border-radius: 0;
}

.icon-search{
    color: grey;
    font-size: 13px;
}

@media(min-width:992px){
    .search-div{
        margin: 0;
        margin-top: 10px;
    }
}

/* end section3 */
/* end header */

/* main */
/* section1 */

.carousel-item{
    background: rgb(202,202,209);
    background: linear-gradient(90deg, rgba(202,202,209,1) 0%, rgba(222,222,226,1) 35%, rgba(197,202,203,1) 100%);
}

.new{
    display: inline-block;
    background-color: #13bfcb;
    color: white;
    margin: 0;
    padding: 5px 20px;
    font-size: 35px;
    font-weight: 500;
}

.collection{
    display: inline-block;
    background-color: #434b4d;
    color: white;
    margin: 0;
    padding: 5px 20px;
    font-size: 35px;
    font-weight: 500;
}

@media(max-width:767px){
    .carousel-content{
        display: none;
    }
}
/* end section1 */
/* section2 */

.middle-banners{
    margin: 15px;
}

/* end section2 */
/* section3 */

.section-title{
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.products-title-1,.products-title-2,.brands-title{
    border-left: 4px solid var(--primary);
}

.dash-div{
    margin: 0;
    padding: 0;
    margin-bottom: 23px;
    border-bottom: 1px solid darkgray;
}

.product-button{
    margin: 0;
    padding: 0;
    margin-top: 5px;
    padding: 5px 15px;
    border-radius: 0;
    background-color: #fafafa;
    border: 1px solid darkgrey;
}

.latest-products{
    margin-bottom: 20px;
}

.main .block{
    margin: 0 auto;
}

.product-text{
    text-align: center;
}

.add-to-cart{
    display: block;
    margin: 0 auto;
}

/* end section3 */
/* section4 */
.welcome-content{
    margin-top: 25px;
    margin-bottom: 25px;
}

.display-img{
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

@media(min-width:768px){
    .display-img{
        margin-top: 25%;
    }
}

@media(max-width:767px){
    .welcome-content{
        width: 350px;
    }
}

@media(min-width:992px){
    .display-img{
        margin: 0;
    }
}

/* end section4 */
/* section5 */

.products-title-2{
    margin-right: 10px;
}

.section5 .block4{
    margin-bottom: 25px;
}

/* end section5 */
/* section6 */
.brands-title{
    margin-bottom: 8px;
}

.brand-img{
    margin: 0 auto;
    margin: 30px 0;
    margin-bottom: 70px;
}

/* end section6 */
/* end main */

/* footer */
/* section1 */

.footer .section1{
    font-family: 'Roboto', sans-serif;
    background-color: darkgray;
}

.newsletter-sign-up{
    text-align: center;
}

.newsletter-text{
    margin: 0;
    padding: 0;
    margin: 18px 0;
    text-align: center;
    font-weight: 500;
    font-size: calc(14px + (22 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.newsletter-email{
    margin: 18px 0;
    padding: 5px;
    width: 65%;
    background-color: darkgrey;
    border-radius: 8%;
    border: 4px solid yellow;
}
/* end section1 */
/* section2 */

.footer .section2,.footer .section3{
    background-color: #434b4d;
}

.footer .section2{
    border-bottom: 1px solid #37383a;
    color: #a9b1b1;
}

.section2-content{
    margin: 0;
    padding: 0;
    margin: 40px 0;
}

.footer-title{
    font-size: 40px;
    color: white;
}

.footer-list{
    padding-left: 20px;
    list-style-type: none;
    list-style-image: url(../media/footer-menu-list-type@2x.png);
}

.twitter-content{
    margin: 0 auto;
}

.bot-link{
    color: #a9b1b1;
        font-size: calc(28px + (32 - 28) * ((100vw - 300px) / (1600 - 300)));
    line-height: 2;
}

.time{
    color: #848686;
}

.facebook-header{
    margin: 0;
}

.facebook-profiles{
    margin: 0;
}

.community{
    margin: 0;
    margin-top: 10px;
}

.facebook .block{
    margin: 0;
    padding: 0 10px;
}

.facebook-name{
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    text-transform: capitalize;
}

@media(max-width:575px){
    .profile-picture{
        width: 70px;
        height: 70px;
    }
}

@media(max-width:991px){
    .twitter-content{
    width: 300px;
    }

    .footer-list{
        list-style-image: none;
    }
}

@media(min-width:992px){
    .footer .section2-content{
        padding: 0 25px;
    }

    .footer-title{
            font-size: calc(18px + (22 - 18) * ((100vw - 300px) / (1600 - 300)));
    }

    .bot-link{
        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
        line-height: 4;
    }

    .twitter-link,.twitter-text{
        font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    }
}

/* end section2 */
/* section3 */

.footer .section3{
    border-top: 1px solid #535758;
}

.social-icons{
    margin: 20px 0;
    color: rgb(240, 236, 236);
}

.social-icons .icon{
    background-color: #626665;
    border-top: 2px solid #717672;
    border-radius: 2px;
    font-size: 30px;
    padding: 5px;
    margin: 0 10px;
}

.colophon{
    color: rgb(179, 170, 170);
}

@media(min-width:992px){
    .colophon{
        margin-top: 20px;
    }
}

/* end section3 */
/* end footer */
/* fin */